@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Kalam&family=Libre+Baskerville&family=Raleway:wght@802&display=swap');
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #7ab547;
  --color-secondary: #335218;
}

body {
  background-color: #f5f5f5;
  font-family: 'Kalam', cursive;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  margin: auto;
}

/*hlavička*/

h1 {
  font-family: 'Verdana', sans-serif;
  font-style: oblique 60deg;
  font-size: 60px;
  color: var(--color-primary);
  text-align: center;
  text-shadow: 3px 3px 3px rgb(10, 10, 10);
  -webkit-animation: pohyb-textu 5s ease-out both;
  animation: pohyb-textu 5s ease-out both;
  margin-top: 10rem;
}

header {
  max-width: 100%;

  background-image: url('./images/Habesska4.jpg');
  background-size: cover;

  padding: 1rem;
  -webkit-animation: pohyb-pozadi 3s ease-in reverse;
  animation: pohyb-pozadi 3s ease-in reverse;
  display: flex;
  flex-direction: column;
}

header a {
  text-decoration: none;
  text-align: right;
  margin: 1rem;
}

i {
  font-size: 2em;
  color: var(--color-primary);
}
i:hover {
  color: var(--color-secondary);
  transform: scale(1.2);
  transition: transform 300ms;
}

@keyframes pohyb-pozadi {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 15%;
    transform-origin: 50% 15%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-20px);
    transform: scale(1.25) translateY(-20px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.uvodni {
  color: var(--color-primary);
  text-align: center;
  text-shadow: 1px 1px 1px rgb(10, 10, 10);
  margin: 0 2rem 2rem 2rem;
  -webkit-animation: pohyb-textu 3s ease-out both;
  animation: pohyb-textu 3s ease-out both;
}
@-webkit-keyframes pohyb-textu {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: center;
    transform-origin: center;
  }
  100% {
    -webkit-transform: scale(1) translateX(-30px);
    transform: scale(1) translateX(-30px);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}

.kontejner {
  box-shadow: 0.5px 0.5px 7px lightgray;
}

/*menu*/

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: lightgray;
  text-transform: uppercase;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 80%;
}

li {
  padding: 0.5rem;
}

.menu ul li {
  display: flex;
  border-bottom: 0.5px solid lightgray;
  justify-content: center;
}

.uvodnimenu {
  padding-top: 2rem;
}

.menu a {
  color: var(--color-primary);
  text-decoration: none;
  text-shadow: 0.5px 0.5px 0.5px rgb(10, 10, 10);
}

.menu a:hover {
  color: var(--color-secondary);
}

/*texty s fotkami*/
.kontejner {
  background-color: white;
}

.kontejner .text,
h2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.prvni {
  padding-top: 2rem;
}

.fotopopis,
.fotopopis a {
  color: gray;
  text-align: center;
  padding-bottom: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}

.foto1 {
  position: relative;

  margin-top: 400px;
}

.fotonazev {
  color: gray;
  font-weight: bold;
  text-align: center;
  padding-top: 0.5rem;
}

.chovanilinka,
.videtlinka,
.fotolinka {
  position: relative;
  padding-bottom: 1rem;
}

.chovanilinka:after,
.videtlinka:after,
.fotolinka:after {
  position: absolute;
  content: '';
  background-color: var(--color-primary);
  width: 6rem;
  height: 3px;
  bottom: 0;
  left: 0;
}

/*fotogalerie*/
.fotogalerie {
  width: 100%;

  height: 400px;
  position: relative;
  overflow: hidden;
}

.fotogal {
  max-width: 75%;
  margin-top: 1rem;
  transition: all 0.5s;
}

.fotogalerie img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
section.fotogalerie {
  height: 430px;
}
div.fotog {
  height: 430px;
}
section.fotogalerie div.fotog img {
  height: 430px;
}
/*patička*/
footer {
  margin: 1rem;
}

footer p {
  padding-top: 2rem;
  text-align: center;
}

footer p,
footer a {
  color: gray;
}

/*tablet*/
@media only screen and (min-width: 500px) {
  header {
    padding-left: 0;
  }

  header .uvodni {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  i {
    font-size: 3em;
  }

  /*menu*/
  .menu {
    padding-top: 2rem;
    width: 80%;
    margin: auto;
  }

  .menu ul {
    width: 100%;
    display: table;
    padding: 0;
    margin: 0;
    position: center;
  }

  .menu ul li {
    display: table-cell;
    width: calc(100% / 4);
    padding: 5px;
    border: 0.5px solid var(--color-primary);
  }

  .menu li:first-child {
    border-left: 0;
  }

  .menu ul:last-child li {
    border-right: 0;
  }

  .menu a {
    position: center;
  }

  .menu a:hover {
    color: var(--color-secondary);
  }

  .spodni {
    display: none;
  }

  /*fotky s texty v článku*/
  .fotopopis,
  .fotopopis a {
    color: white;
    text-align: center;
    padding-bottom: 1rem;
  }

  .foto_1 {
    position: relative;
  }

  .foto_1 .fotopopis {
    position: absolute;
    bottom: 0;
    right: 1rem;
  }

  /*fotogalerie*/

  .fotogalerie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 1rem;
  }

  .fotog {
    overflow: hidden;
    width: 100%;

    padding: 0;
    float: left;
    position: relative;
  }

  .fotogalerie img {
    height: 100%;
  }

  .fotog img {
    transform-origin: 0 0;
    transition: transform 0.5s, visibility 0.5s ease-in;
  }

  .fotog:hover img {
    transform: scale(1.2);
  }

  .fotogtext {
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    color: black;
    opacity: 0;
    visibility: hidden;
  }

  .fotog:hover .fotogtext {
    width: 100%;
    visibility: visible;
    opacity: 0.8;
  }

  .fotogalerie .fotopopis,
  .fotogalerie a {
    color: gray;
    padding-top: 0.5rem;
    text-align: center;
  }
  section.fotogalerie {
    height: 630px;
  }
  div.fotog {
    height: 630px;
  }
  section.fotogalerie div.fotog img {
    height: 630px;
  }
}

/*pc*/
@media only screen and (min-width: 1000px) {
  .kontejner {
    max-width: 960px;
    margin: auto;
    margin-top: -3rem;
  }
  header {
    margin: 0;
    background-position: center;
    min-height: 600px;
  }

  header p {
    font-size: 2rem;
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
  }
  header a {
    margin: 2rem;
  }
  i {
    font-size: 4em;
  }

  /*menu */
  .uvodnimenu {
    display: flex;
  }

  .menu {
    float: left;
    width: 30%;
    margin-top: 1rem;
  }

  ul {
    text-align: left;
  }

  li {
    margin-left: 2rem;
  }

  .menu ul li {
    display: block;
    border-top: 0;
    border-left: 0;
    width: 70%;
  }

  .uvodniblok {
    display: flow-root;
  }
  .prvni {
    float: right;
    width: 70%;
  }

  /*sekce*/

  .chovani {
    margin-right: 15rem;
  }

  .videt {
    margin-left: 15rem;
  }

  .videt2 {
    margin-left: 15rem;
  }

  /*fotogalerie*/

  .fotog {
    width: 100%;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
  }

  .fotogalerie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  section.fotogalerie {
    height: 780px;
  }
  div.fotog {
    height: 780px;
  }
  section.fotogalerie div.fotog img {
    height: 780px;
  }

  /*footer*/

  footer {
    width: 960px;
    margin: auto;
  }
}
.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}
.btn:active {
  transform: scale(1.1);
}
.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}
