@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Kalam&family=Libre+Baskerville&family=Raleway:wght@802&display=swap');
*,
::after,
::before {
  box-sizing: border-box;
}

/*
 BARVY
 pozadi           #f5f5f5
 dekorace nadpisů #629edb
*/

body {
  background-color: #cec7c7;
  font-family: 'Kalam', cursive;
  font-size: 20px;
  line-height: 1.6;
  color: rgb(60, 40, 40);
  text-align: center;
  margin: 0;
  padding: 0;
  width: fit-content;
}

/*hlavička*/

h1 {
  font-family: 'Kalam', sans-serif;
  font-style: oblique 60deg;
  font-size: 2rem;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(243, 208, 208);
}

header {
  width: 100%;
  height: 300px;
  color: white;
  text-shadow: 3px 3px 3px rgb(243, 208, 208);
  text-align: center;
  font-size: 1.5rem;
  background-image: url('./images/background.jpg');
  background-position: center;
  background-size: cover;

  padding: 1rem;
}
.uvod {
  position: relative;
}
i.fa-solid.fa-house {
  font-size: 2em;
  color: rgb(60, 40, 40);
  text-align: right;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}
i.fa-solid.fa-house:hover {
  color: rgb(111, 72, 72);
  transform: scale(1.2);
  transition: transform 300ms;
}
h2 {
  font-size: 1.5rem;
}
.cafe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 700px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  i.fa-solid.fa-house {
    top: 2.5rem;
    right: 2rem;
  }

  .cafe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 960px) {
  main {
    margin: 2rem;
  }
  header {
    background-size: cover;
    background-position: center;
    height: 780px;
    width: 100%;
  }
  h1 {
    margin: 9rem;
    font-size: 4rem;
  }
  header p {
    font-size: 2rem;
    margin-bottom: 10rem;
    margin-left: 15rem;
    margin-right: 15rem;
  }
  i.fa-solid.fa-house {
    font-size: 4rem;
    top: 2.5rem;
    right: 2rem;
  }

  h2 {
    font-size: 2.5rem;
  }
  .popis {
    columns: 3;
  }
}
.cafe .social {
  margin-top: 15px;
}
.cafe .social a {
  font-size: 40px;
  margin: 0 10px;
}
.cafe .social i.fa-facebook {
  color: #1877f2;
}
.cafe .social i.fa-instagram {
  color: #e4405f;
}
.cafe .social i.fa-youtube {
  color: #cd201f;
}
.cafe .social a:hover i.fa-facebook {
  color: #1877f2;
}
.cafe .social a:hover i.fa-instagram {
  color: #e4405f;
}
.cafe .social a:hover i.fa-youtube {
  color: #cd201f;
}
.linka {
  color: rgb(124, 62, 17);
  border-bottom: 4px solid rgb(124, 62, 17);
  display: inline-block;
  padding-bottom: 10px;
}
.container {
  color: rgb(124, 62, 17);
}
button {
  margin: 2.6rem;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: rgb(124, 62, 17);
  width: 13rem;
  height: 3.5rem;
}
button a {
  color: white;
  font-family: 'Dancing+Script', cursive;
}
